server {
    server_name: {{ svr.server_name }};
{% for k,v in svr.iteritems() %}
{% if k.find('locations') == -1 and k != 'server_name' %}
    {{ k }} {{ v }};
{% endif %}
{% endfor %}

{% for location in svr.locations %}

    # host {{ location.host }}
{% for app in location.apps %}
    location {{ app.path }} {
        proxy_pass {{ location.host }};
{% for x,y in app.iteritems() if x != 'path' %}
        {{ x }} {{ y }};
{% endfor %}
    }
{% endfor %}

{% endfor %}

}
